<!DOCTYPE html>
<html lang="en" ng-app="pizzaMapper">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <!-- CSS -->
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="stylesheets/main.css">
    <!-- Holder JS -->
    <!-- <script type="text/javascript" src="/public/bower_components/holderjs/holder.js"></script> -->
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAS28jv999ojgYl1JERa4UAU9T1zsdWSk&libraries=places"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- JS Source -->
    <script type="text/javascript" src="/public/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular-route/angular-route.js"></script>
    <!-- <script type="text/javascript" src="/public/bower_components/angularjs-autocomplete/build/angularjs-autocomplete.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script type="text/javascript" src="/public/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <!-- <script type="text/javascript" src="/public/bower_components/angular-geolocation/geolocation.js"></script> -->
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/yelp.js"></script> -->
  <title>Pizza</title>
</head>
<body>
  <div id="main">
    <section ng-controller="HomeController as vm">
      <h1>Pizza Mapper</h1>

      <!-- REMOVE THIS LATER -->
          <!-- <div class="col-md-8">
              <h1>Local Businesses:</h1>
                <input type="text" ng-model="search.name" placeholder="Filter list by name...">
                <button ng-click="predicate='name'" class="btn btn-default">Name</button>
                <button ng-click="predicate='avg_rating'" class="btn btn-default">Rating</button>
                <button ng-click="reverse=!reverse" class="btn btn-default">+/-</button>
                <button ng-click="getLocalBusinesses()">Click me</button>
                <ul>
                  <li ng-repeat="biz in nearby | filter:search | orderBy:predicate:reverse">
                    {{biz.name}}
                    <div ng-bind="biz.avg_rating"></div>
                    <img ng-src="{{biz.photo_url}}">
                  </li>
                </ul>

          </div> -->
          <!-- REMOVE THIS LATER -->

      <div ui-view></div>
    </section>
  </div>
</body>
</html>
