<div class="container">
    <!-- <div class="header">
        <ul class="nav nav-pills pull-right">
            <li active><a href="">Ipsum</a></li>
            <li disabled><a href="">Dipsum</a></li>
        </ul>
    </div> -->
    <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
          <div class="col-md-7">
            <ng-map id="map" center="37.77,-122.43" zoom="11">
                <marker id="marker" position="{{vm.address}}"
                  title="{{address}}"
                  on-click="map.showInfoWindow(event, 'joint')">
                </marker>
                <marker ng-repeat ="p in lists track by $index"
                  position="{{p.pos}}"
                  data="{{data[$index]}}"
                  on-click="map.showInfoWindow(event, 'joint')">
                </marker>
                <info-window id="joint" visible-on-marker="marker">
                  <div ng-non-bindable id="bodyContent">
                    <!-- <p><b>Description:</b> -->
                      <h4>{{vm.place.name}}</h4>
                      <span> {{vm.address}} </span><br>
                      <span> {{vm.phone}} </span><br>
                      <span> {{vm.web}} </span>
                      <!-- <span><img src='{{vm.pic}}'></span> -->
                  </div>
                </info-window>
            </ng-map>
          </div>
        <!-- Search Panel-->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Search for Pizza Joints <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="searchForm" novalidate>
                        <div class="search-box">
                          <input type="text" places-auto-complete size=80
                            ng-model="vm.address"
                            component-restrictions="{country:'us'}" class="form-control"
                            on-place-changed="vm.placeChanged()"
                            placeholder="Search by name..." autofocus>
                            <span class="input-group-btn">
                              <button class="btn btn-primary btn-lg btn-block"
                              ng-click="vm.search()" type="button">Go!
                              </button>
                            </span>
                            <!-- <div ng-show="vm.place">
                              Address = {{vm.place.formatted_address}} <br/>
                              Location: {{vm.place.geometry.location}}<br/>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Top Pizza Lists of SF/Oakland <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <div class="form-group">
                            <label for="top-lists">Popular Lists</label>
                              <ul>
                                <li><input type="checkbox" id="checkbox1" value="Select" ng-model="formData1">
                                  <a href="http://sfist.com/2015/09/17/the_best_pizza_in_san_francisco.php" + target='_blank'>SFist Guide</a></li>

                                <li><input type="checkbox" id="checkbox2" value="Select" ng-model="formData2">
                                  <a href="http://www.yelp.com/search?find_desc=Best+Pizza&find_loc=San+Francisco%2C+CA" + target='_blank'>Yelp SF Top 10</a></li>

                                <li><input type="checkbox" id="checkbox3" value="Select" ng-model="formData3">
                                  <a href="http://www.yelp.com/search?find_desc=Best+Pizza&find_loc=Oakland,+CA" + target='_blank'>Yelp Oakland Top 10</a></li>

                                <li><input type="checkbox" id="checkbox4" value="Select" ng-model="formData4">
                                  <a href="http://sf.eater.com/maps/san-franciscos-25-most-iconic-pizzerias" + target='_blank'>Eater SF Top 25</a></li>

                                <li><input type="checkbox" id="checkbox5" value="Select" ng-model="formData5">
                                  <a href="https://www.thrillist.com/eat/san-francisco/the-best-sf-pizzas-by-hood-thrillist-san-francisco" + target='_blank'>Thrillist Top Pizzas</a></li>

                                <li><input type="checkbox" id="checkbox6" value="Select" ng-model="formData6">
                                  <a href="http://www.thebolditalic.com/articles/4693-read-this-if-youre-obsessed-with-oaklands-pizza" + target='_blank'>Bold Italic Oakland Pizza's</a></li>
                              </ul>
                            <!-- <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Favorite Pizza Joints<span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <div class="form-group">
                            <label for="top-fav">Top User Favorites</label>
                              <ul>
                                <li><a href="http://www.littlestarpizza.com/" + target='_blank'>Little Star</a></li>
                                <li><a href="http://tonyspizzanapoletana.com/" + target='_blank'>Tony's</a></li>
                              </ul>
                            <!-- <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- Footer -->
    <div class="footer">
        <p class="text-center"><span class="glyphicon glyphicon-check"></span> Pizza Mapper 2016
    </div>
</div>
