<div class="container">
    <!-- <div class="header">
        <ul class="nav nav-pills pull-right">
            <li active><a href="">Ipsum</a></li>
            <li disabled><a href="">Dipsum</a></li>
        </ul>
    </div> -->
    <!-- Map and Side Panel -->
    <div class="row content">
        <!-- Google Map -->
          <div class="col-md-7">
            <ng-map id="map" center="37.8236,-122.3706" zoom="11">
              <!-- search box marker -->
                <marker id="marker" position="{{vm.address}}"
                  title="{{address}}"
                  on-click="map.showInfoWindow(event, 'joint')">
                </marker>
                <!-- search box info window -->
                <info-window id="joint" visible-on-marker="marker">
                  <div ng-non-bindable="">
                      <h4>{{vm.place.name}}</h4>
                      <span> {{vm.address}} </span><br>
                      <span> {{vm.phone}} </span><br>
                      <span> {{vm.web}} </span>
                  </div>
                </info-window>
                <marker ng-repeat="p in vm.positions"
                  id="{{p.id}}"
                  position="{{p.pos}}"
                  on-click="map.showInfoWindow(event, 'joint2')">
                </marker>
                <info-window id="joint2" visible-on-marker="marker">
                  <div ng-non-bindable="">
                    <h4>Pizza!!!</h4>
                    <span> {{p.address}} </span><br>
                    <span> {{p.phone}} </span><br>
                    <span> {{p.website}} </span>
                  </div>
                </info-window>
            </ng-map>
          </div>
        <!-- Search Panel-->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Search for Pizza Joints <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="searchForm" novalidate>
                        <div class="search-box">
                          <input type="text" places-auto-complete size=80
                            ng-model="vm.address"
                            component-restrictions="{country:'us'}" class="form-control"
                            on-place-changed="vm.placeChanged()"
                            placeholder="Search by name..." autofocus>
                            <span class="input-group-btn">
                              <button class="btn btn-primary btn-lg btn-block"
                              ng-click="vm.search()" type="button">Go!
                              </button>
                            </span>
                            <!-- <div ng-show="vm.place">
                              Address = {{vm.place.formatted_address}} <br/>
                              Location: {{vm.place.geometry.location}}<br/>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Top Pizza Lists of SF/Oakland <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <div ng-init="vm.getAllLists()">
                      <div ng-repeat="list in lists">
                          <!-- <ul> {{lc.all}} </ul> -->
                          <form>
                            <ul>
                              <li> <input type="checkbox" id="checkbox1" value="Select"
                                ng-change="vm.renderListWhenClicked({{list}})" ng-model="listInfo">
                                <a ng-href="{{list.url}}" + target='_blank'>{{list.name}}</a>
                              </li>
                            </ul>
                          </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side Panel -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Favorite Pizza Joints<span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <div class="form-group">
                            <label for="top-fav">Top User Favorites</label>
                              <ul>
                                <li><a href="http://www.littlestarpizza.com/" + target='_blank'>Little Star</a></li>
                                <li><a href="http://tonyspizzanapoletana.com/" + target='_blank'>Tony's</a></li>
                              </ul>
                            <!-- <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- Footer -->
    <div class="footer">
      <div
        <p class="text-center"><span class="glyphicon glyphicon-check"></span> Pizza Mapper 2016
    </div>
</div>
