<div class="container" ng-controller="ProfileController as profile">
  <h3>{{main.currentUser.displayName}}</h3>
<hr>
<p><strong>Email:</strong> {{main.currentUser().email}}</p>
<p><strong>Username:</strong> {{main.currentUser().username}}</p>
<p><strong>Joined:</strong> {{main.currentUser().created | date }}</p>
<p><strong>Posts:</strong> {{main.currentUser().posts.length}}</p>

<hr>
<a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>

<form ng-show="profile.showEditForm" ng-submit="profile.updateProfile()">
<div class="form-group">
  <input type="text" ng-model="profile.new_profile.displayName" class="form-control" placeholder="{{ vm.currentUser().displayName }}">
</div>

<div class="form-group">
  <input type="text" ng-model="profile.new_profile.username" class="form-control" placeholder="{{ vm.currentUser().username }}">
</div>
<div class="form-group">
  <input type="text" ng-model="profile.new_profile.email" class="form-control" placeholder="{{ vm.currentUser().email }}">
</div>
<input type="submit" value="Update" class="btn btn-block btn-info"><br>
<button ng-click="profile.showEditForm=false" class="btn btn-default">Cancel</button>
</form>

</div>
